.tab-menu-wrapper {
  background-color: white;
}
.tab-menu {
  width: clamp(320px, 100%, 1024px);
  margin: 0 auto;
  padding: 16px;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
}

.tab {
  padding: 2rem 0;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.8rem;
  background-color: #fff;
}

.tab:hover {
  background-color: #fff894;
}
.selected {
  background-color: #fcf15e;
}
