.add-todo {
  padding: 4px 8px;
  /* border-radius: 16px; */
  background-color: white;
  grid-area: 1 / 2 / 2 / 3;
}

.add-todo:hover {
  cursor: pointer;
  background-color: #bdbdbd;
}

.add-todo::before {
}
