.add-task {
  padding: 8px;
  border-radius: 16px;
  background-color: white;
  grid-area: 1 / 2 / 2 / 3;
}

.add-task:hover {
  cursor: pointer;
  background-color: #bdbdbd;
}

.add-task::before {
}
