.todo-editor {
  display: none;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgb(99, 99, 99);
}

.todo-editor-form {
  display: grid;
  padding: 16px;
  gap: 16px;
}

input,
textarea {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
}

.input-title,
.input-description {
  min-width: 10ch;
}

.priority-selector {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 8px;
  align-items: center;
}

label {
  padding-left: 8px;
  color: white;
  cursor: pointer;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  display: grid;
  place-items: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]::before {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  /* box-shadow: inset 1em 1em black; */
}

input[type="radio"]:checked::before {
  transform: scale(1);
  background-color: dodgerblue;
}

.input-title,
.input-due-date,
.input-description,
.add,
.cancel {
  border-radius: 8px;
  padding: 8px;
}

.input-description {
  resize: none;
}

.input-title {
  font-size: 2.4rem;
}

.input-due-date {
  width: fit-content;
}
.add,
.cancel {
  padding: 8px 16px;
}
