.todos-window {
  display: grid;
  gap: 8px;
}

.todo-list-input-container {
  display: grid;
  grid-template-columns: 1fr auto auto;
  justify-items: start;
}

.todo-list {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

.todo-list:hover {
  background-color: lightskyblue;
}

.current {
  background-color: lightskyblue;
}

.add-todo-list,
.delete-todo-list,
.edit-todo-list-name,
.todo-list-name,
.ok-edit-todo-list-name {
  padding: 4px 8px;
  cursor: pointer;
}

.todo-list-edit-input {
  padding: 4px 8px;
}

.edit-todo-list-name,
.ok-edit-todo-list-name {
  width: 48px;
}
.todo-list-edit-input {
  background-color: #dfdfdf;
}
