.todos-window {
  display: grid;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;

  background-color: var(--color-component);
}

.todo-list-input-container {
  /* position: relative; */

  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;

  justify-items: start;
}

.list-of-todo-lists {
  display: grid;
  gap: 8px;
}

.todo-list {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 32px 32px;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
}

.todo-list-name {
  /* min-width: 0; */
  overflow-wrap: break-word;
  padding: 4px 8px;
}

.todo-list-edit-input {
}

.todo-list .edit-todo-list-name,
.todo-list .delete-todo-list {
  visibility: hidden;
}

.todo-list:hover {
  background-color: var(--color-hover);
}

.todo-list:hover .edit-todo-list-name,
.todo-list:hover .delete-todo-list {
  visibility: visible;
}

.current {
  background-color: var(--color-select);
}

.delete-todo-list,
.edit-todo-list-name,
.ok-edit-todo-list-name {
  height: 32px;
  /* : 48px; */
  padding: 0;
}

.edit-todo-list-name,
.ok-edit-todo-list-name {
  /* width: 64px; */
}

.edit-todo-list-name::before,
.ok-edit-todo-list-name::before,
.delete-todo-list::before {
  font-family: "Font Awesome 6 Free";
}

.edit-todo-list-name::before {
  content: "\f044";
}

.ok-edit-todo-list-name::before {
  content: "\f00c";
}

.delete-todo-list::before {
  content: "\f2ed";
}

.add-todo-list-popup {
  /* visibility: hidden; */
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 250ms;
  background-color: var(--color-select);
  padding: 8px;
  border-radius: 8px;
}
