<head>
  <title><%= title %></title>
  <link
    rel="stylesheet"
    href="/stylesheets/style.css"
  />
  <script
    src="/javascripts/script.js"
    defer
  ></script>
  <!-- <script defer>
    console.log("inline js")
  </script> -->
</head>