<aside>
  <ul>
    <li><a href="/catalog">Home</a></li>
    <li><a href="/catalog/books">Books</a></li>
    <li><a href="/catalog/authors">Authors</a></li>
    <li><a href="/catalog/genres">Genres</a></li>
    <li><a href="/catalog/bookinstances">All book instances</a></li>
  </ul>
  <hr />
  <ul>
    <li><a href="/catalog/author/create">Create new author</a></li>
    <li><a href="/catalog/genre/create">Create new genre</a></li>
    <li><a href="/catalog/book/create">Create new book</a></li>
    <li><a href="/catalog/bookinstance/create">Create new book instance</a></li>
  </ul>
</aside>
