body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  /* grid-template-columns: 240px 1fr; */
}
main aside {
  min-width: 240px;
}
main .content {
}
