body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  /* grid-template-columns: 240px 1fr; */
}
main aside {
  min-width: 240px;
}
main .content {
  flex: 1 320px;
}

.success {
  color: green;
}

.danger {
  color: red;
}

.warning {
  color: orange;
}

.form {
  display: grid;
  gap: 8px;
}

.form button {
  width: fit-content;
}

.block {
  display: grid;
  max-width: 320px;
}

.checkbox {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.checkbox input {
  margin: 0;
}
.checkbox label {
  line-height: normal;
}
