<!DOCTYPE html>
<html>

<%- include("partials/head")  %>

<body>
  <%- include("partials/header")  %>
  <div class="main-wrapper">
    <main>
      <h2>heading</h2>
      <% if (typeof user !== "undefined") {%>
      <h1>Welcome back, <%= user.username %></h1>
      <% } %>
    </main>
  </div>
  <%- include("partials/footer")  %>
</body>

</html>