:root {
  --background: white;
  --text-primary: #222;
  --text-secondary: royalblue;
  --accent: purple;
}

[data-color-scheme="dark"] {
  --background: #222;
  --text-primary: rgb(222, 222, 222);
  --text-secondary: grey;
  --accent: darkred;
}
