.editor {
  flex: 1;
  max-width: 480px;
}

.editor form {
  display: grid;
  gap: 8px;
}

.editor form fieldset {
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(200, 200, 200);
  display: grid;
  gap: 8px;
}

legend {
  float: left;
  padding: 0;
  font-size: 24px;
}

fieldset {
  border: none;
}

.fields {
  display: grid;
  gap: 8px;
}

.field {
  display: grid;
  gap: 8px;
}

button,
.imageButton {
  line-height: 1.2;
  border: none;
  background-color: #272a4d;
  color: white;
  font-size: 16px;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

button:hover,
.imageButton:hover {
  background-color: rgb(90, 180, 255);
}

button:active,
.imageButton:active {
  background-color: rgb(60, 250, 150);
}

input,
textarea {
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  outline: none;
}
