.authButtons {
  display: flex;
  gap: 16px;
}

.active {
  outline: 2px solid var(--text-primary);
}

@media (hover: hover) {
  .link:hover {
    background-color: dodgerblue;
  }
}

.column {
  flex-direction: column;
}
