.formItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputAndSymbol {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  gap: 8px;
  outline: 2px solid var(--backgrount-input);
}

.inputBox {
  flex: 1;
  /* max-width: 320px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  /* outline: 2px solid rgba(0, 0, 0, 0); */
  color: var(--text-primary);
  background-color: var(--backgrount-input);
}
.red {
  color: red;
}

.green {
  color: rgb(0, 255, 0);
}

.errorMessage {
  margin: 0;
  color: red;
  font-weight: 600;
}

.iconColor {
  color: var(--text-primary);
}

.input {
  width: 0;
  padding: 8px;
  font-size: 20px;
  flex: 1;
  border-radius: 4px;
  outline: none;
  background-color: var(--backgrount-input);
  color: var(--text-primary);
}

.iconBox {
  width: var(--icon-small-size);
  font-size: var(--icon-small-size);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}
