.about {
  width: clamp(300px, 100%, 1080px);
  flex: 1;
  margin: 0 auto;
  padding: 16px;
  background-color: white;
  text-align: center;
  display: grid;
  gap: 16px;
  align-content: flex-start;
  // height: 100vh;
  // display: grid;
  // place-items: center;
}
