@use "../variables";

.wrapper {
  // display: flex;
  // justify-content: center;
  background-color: var(--background);
  border-bottom: 2px solid #555;
}

header {
  width: clamp(300px, 100%, 1080px);
  margin: 0 auto;
  display: flex;
  // grid-auto-flow: column;
  // justify-content: center;
}

nav {
  padding: 8px;
  flex: 1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 8px;

  li {
    padding: 8px;
  }

  a {
    text-decoration: none;
    color: var(--text-primary);
  }
}

.darkModeToggle {
  padding: 4px 16px;
  border: none;
  outline: 2px solid #555;
  background-color: var(--background);
  color: var(--text-primary);
  cursor: pointer;
}
