.products {
  padding: 24px;

  h2 {
    margin-bottom: 8px;
    text-align: center;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 8px;
}

.center {
  display: grid;
  place-items: center;
}
