<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <link
    rel="shortcut icon"
    href="#"
    type="image/x-icon"
  >
  <title>Basis Auth</title>
</head>

<body>
  <h1>
    basic auth
  </h1>
  <div>
    <a href="/sign-up">Sign Up</a>
  </div>
  <div>
    <% if (user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <a href="/log-out">LOG OUT</a>
    <% } else { %>
    <h1>please log in</h1>
    <form
      action="/log-in"
      method="POST"
    >
      <div>

        <label for="username">Username</label>
        <input
          name="username"
          placeholder="username"
          type="text"
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          name="password"
          type="password"
        />
      </div>
      <button>Log In</button>
    </form>
    <%}%>
  </div>
</body>

</html>