* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto";
    margin: 0;
}
.header, .footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}
.header_container {
    width: 70%;
}
.header_top {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.nav-bar {
    display: flex;
    gap: 1rem;
    list-style-type:none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero_main_text {
    font-size: 48px;
    font-weight: 1000;
    color:#F9FAF8;
}
.header_bottom {
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.hero_parag {
    color: #E5E7EB;
}
.header_bottom_left {
    flex: 1;
}
.header_bottom_right {
    background-color: grey;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: #E5E7EB;
}
.singup {
    background-color: #3882F6;
    border-radius: 10px;
    border: 0;
    padding: 0.5rem 2rem;
    font-size: 24px;
    color: #E5E7EB;
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: center;
}
.main_container {
    gap: 2rem;
    width: 70%;
}
.information {
    color: #1F2937;
    font-size: 36px;
    font-weight: 1000;
    text-align: center;
    padding: 1rem;
}
.four_container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.four {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.square{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 5px solid #3882F6;
    margin-bottom: 1rem;
}
.subtext {
    text-align: center;
    color: #1F2937;
}
.q {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}
.quote_container {
    width: 70%;
    color: #1F2937;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    
    gap: 1rem;
}

.quote {
    margin-bottom: 1rem;
    font-size: 36px;
    font-style: italic;
    margin: 0 auto;
}
.whosaid {
    align-self: flex-end;
}

.calltoaction_conainer {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.calltoaction {
    width: calc(70% - 2rem);
    padding: 2rem 6rem;
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.call_left_top {
    font-size: 24px;
    font-weight: bold;
}
.call_right { 
    border-radius: 5px;
    border: 2px solid #F9FAF8;
    padding: 0.5rem 2rem;
}
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 2rem;
}