@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-VariableFont_slnt,wght.ttf");
}

body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--fs-base);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
div,
span,
p {
  color: var(--text-primary);
  margin: 0;
}

button,
input,
a {
  display: inline-block;
  font-family: arial;
  background: none;
  color: var(--text-primary);
  font-size: var(--fs-input);
  line-height: 1.3;
  border: none;
  outline: none;
  padding: 8px 16px;
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media (hover: hover) {
  button:hover,
  a:hover {
    background-color: var(--hover);
  }
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
