:root {
  font-size: 0.625rem;
  --background: rgb(222, 222, 222);
  --drawer-bg: rgba(222, 222, 222, 0.8);
  --backgrount-content: #f0f0f0;
  --backgrount-input: white;
  --background-button: #cecece;
  --text-primary: #222;
  --icon-size: 2.2rem;
  --icon-small-size: 24px;
  --fs-base: 1.8rem;
  --fs-input: 2.2rem;
  --fs-xl: 2.4rem;
  --button-color: black;
  --button-bg: #666;
  --hover: dodgerblue;
}

[data-color-scheme="dark"] {
  --background: #222;
  --drawer-bg: rgba(0, 0, 0, 0.8);
  --backgrount-input: #222;
  --backgrount-content: #111;
  --background-button: #333;
  --text-primary: rgb(222, 222, 222);
  --button-color: white;
  --button-bg: #888;
}
