.weather-container {
  /* grid-area: 2 / 1 / 3 / 2; */
  display: grid;
  gap: 8px;
  /* width: max-content; */
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  background-color: white;
  padding: 8px;
  border-radius: 8px;
}

.main-info {
  display: grid;
  justify-content: flex-start;
  /* gap: 24px; */
  column-gap: 24px;
}

.place {
  grid-area: 1 / 1 / 2 / 2;
}

.temp-box {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  font-size: var(--fontsize-ultra);
}

.feelslike-box {
  grid-area: 3 / 1 / 4 / 2;
}

.condition {
  grid-area: 1 / 2 / 2 / 3;
}

.condition-image {
  grid-area: 2 / 2 / 4 / 3;
}

.dots {
  margin-bottom: 6px;
  border: none;
  border-bottom: 2px dotted rgb(0, 0, 0);
}

.more {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
}

.chem {
  display: flex;
}
.chem sub {
  line-height: 1;
  align-self: flex-end;
}
