.weather-container {
  display: grid;
  gap: 8px;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
}

.main-info {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 16px;
}

.main-weather {
  display: grid;
  align-content: space-between;
}

.last-updated-box {
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
}

.temp-box {
  display: flex;
  font-size: var(--fontsize-ultra);
}

.feelslike-box {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;
}

.feelslike {
  display: flex;
}

.main-condition {
  display: grid;
  justify-items: center;
}

.condition {
  text-align: center;
}

.dots {
  margin-bottom: 6px;
  border: none;
  border-bottom: 2px dotted rgb(0, 0, 0);
}

.more {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
}

.chem {
  display: flex;
}
.chem sub {
  line-height: 1;
  align-self: flex-end;
}
