.weather-container {
  /* grid-area: 2 / 1 / 3 / 2; */
  display: grid;
  gap: 8px;
  /* width: max-content; */
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  background-color: white;
  padding: 8px;
  border-radius: 8px;
}

.main-info {
  display: grid;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* align-items: flex-start; */
  grid-template-columns: auto auto;
  /* align-items: start; */
  /* gap: 24px; */
  column-gap: 16px;
}

.main-weather {
  display: grid;
  align-content: space-between;
}
.place {
}

.last-updated-box {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}

.temp-box {
  display: flex;
  font-size: var(--fontsize-ultra);
}

.feelslike-box {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;
}

.feelslike {
  display: flex;
}

.main-condition {
  display: grid;
  /* place-items: center; */
  justify-items: center;
  /* border-radius: 8px; */
  /* padding: 8px; */
  /* border: 2px solid var(--primary-color); */
}

.condition {
  text-align: center;
}

.dots {
  margin-bottom: 6px;
  border: none;
  border-bottom: 2px dotted rgb(0, 0, 0);
}

.more {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
}

.chem {
  display: flex;
}
.chem sub {
  line-height: 1;
  align-self: flex-end;
}
