@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

:root {
  font-family: "Roboto", "Open Sans", "Helvetica Neue", system-ui, -apple-system,
    sans-serif;
  font-size: 0.625rem;
  --fontsize-m: 1rem;
  --fontsize-l: 1.2rem;
  --fontsize-xl: 1.8rem;
  --fontsize-2xl: 2.4rem;
  --fontsize-ultra: 3.6rem;

  --primary-color: rgb(200, 100, 250);

  --light-sky: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  --dark-sky: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  --sunset: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  --sunset2: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
  --heavy-cloud: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  background-color: #ddd;
  font-size: var(--fontsize-xl);
  display: flex;
  flex-direction: column;
  /* background: var(--sunset2); */
}

input {
  font-size: inherit;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  width: fit-content;
}

button {
  border: 0;
}

.icon {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  padding: 0;
  border: none;
  line-height: 1;
  background-color: hsla(0, 0%, 0%, 0);
  height: 100%;
}

header {
  background-color: white;
}

main {
  width: clamp(300px, 100%, 900px);
  margin: 0 auto;
  padding: 8px;
  display: grid;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* grid-template-columns: auto auto; */
  gap: 8px;
}

footer {
  background-color: white;
  width: 100%;
  /* height: 48px; */
  margin-top: auto;
  display: grid;
  gap: 8px;
  padding: 8px;
  grid-template-columns: auto;
  place-items: center;
  /* align-items: center; */
  /* justify-content: space-around; */
}

footer a {
  color: rgb(0, 255, 0);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(300px, 100%, 900px);
  margin: 0 auto;
  padding: 8px;
}

h1,
h2 {
  margin: 0;
}

.app-title {
  font-size: var(--fontsize-2xl);
  font-weight: bold;
}

.content-grid {
  display: grid;
  gap: 8px;
  /* grid-template-columns: auto 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(240px, max-content)); */

  align-items: flex-start;
}

.container-title {
  font-size: var(--fontsize-2xl);
}

.chem {
  /* position: relative;
  display: inline-block; */
  white-space: nowrap;
}

/* sub {
  position: absolute;
  left: 0;
} */
