.last-searched {
}

.searched-list {
  gap: 8px;
  margin-top: 8px;
}

.searched-city {
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
}

.searched-city:hover {
  background-color: var(--primary-color-hover);
}
