.suggestion-list {
  display: grid;
}

.suggested-location {
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
}

.suggested-location:hover,
.suggested-location:active,
.selected-suggestion,
.selected-last-city {
  background-color: var(--primary-color-hover);
}

.location-details {
  font-size: var(--fontsize-l);
}
