* {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #555;
}

a:active {
  color: #777;
}

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e0e0e0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.header-wrapper {
  background-color: white;
}

header {
  width: clamp(320px, 100%, 1080px);
  margin: 0 auto;
  padding: 8px;
  display: flex;
  gap: 8px;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
}

.header-name {
  white-space: nowrap;
  font-size: 24px;
}

.auth-links {
  display: flex;
  gap: 8px;
}

.link-button {
  display: inline-block;
  white-space: nowrap;
  padding: 8px 4px;
  border: 1px solid black;
}

.link-button:hover {
  background-color: #c9c9c9;
}
.main-wrapper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  flex: 1;
  background-color: white;
  width: clamp(320px, 100%, 1080px);
  margin: 0 auto;
  padding: 8px;
  align-content: flex-start;
}

main {
  min-width: 240px;
  flex: auto;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 8px;
  background-color: white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

form {
  display: grid;
  gap: 8px;
  border: 1px solid #999;
  padding: 8px;
}

form button {
  width: fit-content;
}

.form-button {
  font-size: 24px;
}

textarea {
  resize: vertical;
}

input[type="text"],
input[type="password"] {
  border: 1px solid black;
  padding: 4px;
}

.red-star {
  color: red;
  font-size: 20px;
  font-weight: 800;
}

.form-label-input-box {
  display: flex;
  flex-wrap: wrap;
  /* padding: 8px; */
  /* border: 1px solid #999; */
  gap: 8px;
  align-items: center;
  /* width: fit-content; */
}

.form-label-input-box label {
  min-width: 160px;
  white-space: nowrap;
}

.form-label-input-box input {
  flex: auto;
  min-width: 24ch;
  max-width: 480px;
  /* width: clamp(24ch, 48ch, 48ch); */
}

.input-errors {
  margin-top: 8px;
  background-color: rgb(255, 148, 148);
  width: fit-content;
  padding: 0 8px;
}
.form-item-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="checkbox"] {
  margin: 0;
  border: 1px solid black;
  width: 32px;
  height: 32px;
}

nav ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 8px;
}

.message-form {
  border: none;
  padding: 0;
  margin-bottom: 8px;
}
.input-center {
  font-size: 24px;
  justify-content: center;
}

.messages {
  margin-top: 8px;
  display: grid;
  gap: 8px;
  margin: 0 auto;
  justify-content: center;
}

.message {
  display: grid;
  /* grid-template-columns: minmax(auto, 320px) auto; */

  /* grid-template-columns: auto; */
  grid-auto-flow: column;

  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  max-width: 480px;
  /* width: clamp(auto, auto, 480px); */
}

.message .left {
  display: grid;
  gap: 4px;
  padding: 8px;
  /* width: 480px; */
  /* max-width: 320px; */
}

.message .author,
.message .date {
  font-size: 14px;
}
.message .text {
  font-size: 18px;
  /* width: inherit; */
  /* word-wrap: break-word; */
  overflow-wrap: anywhere;
}

.message .right {
  border: 1px solid black;
  padding: 8px;
  margin-right: 8px;
}
