.mainControls {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.button {
  background-color: var(--button-bg);
  color: var(--button-color);
}

.tools {
  border: 2px solid var(--text-primary);
  width: fit-content;
}
