.preview {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

article {
  /* max-width: 60ch; */
  width: clamp(240px, 100%, 60ch);
  padding: 8px;
  /* background-color: var(--background); */
  /* min-width: 240px; */
  overflow-wrap: anywhere;
  /* hyphens: auto; */
  align-self: center;
}

.button {
  background-color: var(--button-bg);
  color: var(--button-color);
}

.isPreview {
  outline: 2px solid var(--text-primary);
}

.preview p {
}
