.preview {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
}

article {
  /* max-width: 60ch; */

  /* padding: 8px; */
  /* background-color: var(--background); */
  /* min-width: 240px; */
  overflow-wrap: anywhere;
  margin-top: 16px;
  /* hyphens: auto; */
  /* align-self: center; */
}

.button {
  background-color: var(--button-bg);
  color: var(--button-color);
}

.isPreview {
  outline: 2px solid var(--text-primary);
}

.post {
  width: clamp(240px, 100%, 60ch);
  align-self: center;
}

.postCategory {
  padding: 8px;
  background-color: var(--category);
  width: fit-content;
  color: var(--button-color);
}

.post pre {
  overflow-x: auto;
}

.post a {
  font-size: var(--fs-base);
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

.post a:hover {
  background-color: #ffffff00;
  color: var(--category);
}

.post ul,
.post ol {
  margin-left: 24px;
  /* border-left: 2px solid var(--text-primary); */
  /* padding-left: 1rem; */
}

.post ul p,
.post ol p {
  margin: 0;
}

.post ul {
  list-style-type: disc;
}

.post ol {
  list-style-type: decimal;
}

.post blockquote {
  border-left: 4px solid var(--text-primary);
  padding-left: 1rem;
}
