.formContainer {
  // max-width: 480px;
  width: clamp(300px, 100%, 250px);
}

.loginForm {
  display: flex;
  flex: 1;
  flex-direction: column;

  gap: 8px;
  margin: 0 auto;
  .formItem {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .inputAndSymbol {
      // max-width: 320px;
      display: flex;
      // flex-direction: row;
      // grid-template-columns: 1fr auto;
      align-items: center;
      gap: 8px;

      input {
        width: 0;
        // font-size: 20px;
        flex: 1;
        border-radius: 4px;
        // :focus {
        //   outline: none;
        // }
      }
    }

    span {
      margin: 0;
      color: red;
      font-weight: 600;
    }

    .red {
      color: red;
    }

    .green {
      color: rgb(0, 255, 0);
    }

    .valid {
      outline: 2px solid rgb(0, 255, 0);
    }

    .invalid {
      outline: 2px solid rgb(255, 0, 0);
    }
  }
  .errorMessage {
    margin: 0;
    color: red;
    font-weight: 600;
  }

  button {
    width: fit-content;
    align-self: center;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: var(--fs-xl);
    background-color: var(--button-color);
    color: var(--text-primary);
  }
}
