.loginForm {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
  .formItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 320px;
  }
}
