// @import "./assets/fonts/fa.css";

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
}

$primary: rgb(100, 150, 255);
$hover: rgb(150, 200, 255);
$ship: #555;
$click: blue;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto;
}

main {
  width: clamp(300px, 100%, 960px);
  margin: 0 auto;
  display: grid;
  gap: 8px;
}

.battleship {
  font-size: 24px;
  padding: 8px;
  text-align: center;
}

.top {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 16px;
  .winMessage {
    position: absolute;
    border: 4px solid red;
    left: 50%;
    top: calc(100% + 8px);
    // width: 100%;
    text-align: center;
    transform: translate(-50%, 0);
    background-color: white;
    padding: 8px;
    font-size: 24px;
    font-weight: bold;
    // height: 24px;
  }

  @keyframes changeBgColor {
    0% {
      background-color: $primary;
    }

    50% {
      background-color: $click;
      transform: scale(0.9);
    }

    100% {
      background-color: $primary;
    }
  }

  button {
    font-size: 16px;
    cursor: pointer;
    border: none;
    padding: 8px;
    background-color: $primary;
  }

  button:hover {
    background-color: $hover;
  }

  .animate {
    animation: changeBgColor 150ms;
  }
}

.container {
  margin: auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  align-items: flex-start;
}

.boards {
  margin: auto 0;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 16px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 34px);
  grid-auto-rows: 34px;

  border: 2px solid black;
  // gap: 2px;
  .cell {
    box-sizing: content-box;
    display: grid;

    // box-shadow: 0 0 0 2px gray;
    border: solid rgb(255, 255, 255) 1px;
    place-content: center;
    background-color: $primary;
  }

  .hovered {
    background-color: red;
  }

  .hit {
    color: red;
    font-size: 16px;
  }

  .skull {
    color: black;
    font-size: 16px;
  }

  .miss {
    color: black;
    font-size: 16px;
  }
}

.symbolDisabled {
  color: red;
}

.hidden {
  display: none;
}

.Player {
  .ship {
    background-color: $ship;
  }
}

.boardContainer,
.shipYardContainer {
  display: grid;
  gap: 8px;
}

.shipYardContainer {
  width: 180px;
}

.none {
  display: none;
}

.shipYard {
  display: grid;
  gap: 16px;
  justify-items: self-start;
  padding-bottom: 8px;
  .ship {
    // box-sizing: content-box;
    display: grid;
    gap: 2px;
    background-color: white;

    grid-auto-flow: column;
    grid-auto-columns: 32px;
    grid-auto-rows: 32px;
    cursor: move;

    div {
      background-color: $ship;
    }
  }

  .cannotRotate {
    animation: 250ms tilt-shaking;
    div {
      background-color: red;
    }
  }

  @keyframes tilt-shaking {
    0% {
      rotate: 0deg;
    }
    25% {
      rotate: 45deg;
    }
    50% {
      rotate: 0deg;
    }
    75% {
      rotate: 45deg;
    }
    100% {
      rotate: 0deg;
    }
  }

  .vertical {
    grid-auto-flow: row;
  }

  .ship.snappable div {
    background-color: rgb(0, 255, 0);
  }
}

.port {
  outline: 2px dotted $ship;
  height: 32px;
}

.port5 {
  width: 168px;
}

.port4 {
  width: 134px;
}

.port31,
.port32 {
  width: 100px;
}

.port21 {
  width: 66px;
}

.disabled {
  color: red;
}
