body {
    background-color: #222;
    display: grid;
    justify-items: center;
}
h1 {
    color: white;
}
.control {
    display: flex;
    justify-content: center;
    width: 200px;
    gap: 1rem;
    margin: 1rem;
}
.size48, .size64, .size100 {

}
.container {
    display: grid;
    /* grid-template-columns: repeat(48, 1fr); */
    gap: 1px;
    background-color:lightgray;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}
.pixel {
    background-color: white;
}