<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New message</title>
  </head>
  <body>
    <a href="/">Message board</a>
    <form action="/new" method="POST" autocomplete="off">
      <label for="message">Message</label>
      <input type="text" id="message" required name="message" />
      <label for="user">User</label>
      <input type="text" id="user" required name="user" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
