@font-face {
  font-family: "Aquire";
  src: url(Aquire.otf);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Aquire;
}

button {
  font-family: Aquire;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
}

.header {
  padding: 0px 24px;
  max-width: 60ch;
}

.left {
  position: relative;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
}

.right {
  color: white;
  /* background: linear-gradient(
    315deg,
    rgba(55, 55, 55, 1) 0%,
    rgba(19, 19, 19, 1) 50%,
    rgba(55, 55, 55, 1) 100%
  ); */
  background: linear-gradient(
    315deg,
    rgba(55, 55, 55, 1) 0%,
    rgba(19, 19, 19, 1) 50%
  );
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=7902c9&c2=37f748&gt=r&gd=dtr
  */
  /* background: #7902c9;
  background: radial-gradient(at right top, #7902c9, #37f748); */
}

.logo_container {
  background-color: rgba(0, 0, 0, 0.301);
  height: 100px;
  position: relative;
  top: 5%;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fill, ); */
  justify-content: space-evenly;
  align-items: center;
}

.logo_name {
  font-size: clamp(32px, 4vw, 64px);
  /* width: 100%; */
  color: #31c5ff;
  font-family: "Aquire";
  /* display: inline-b; */
  text-align: center;
}

.logo {
  height: 64px;
  width: 64px;
  /* background-image: url("ball-with-hexagons-svgrepo-com.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
}

img {
  width: 100%;
}

.bg-credits {
  position: absolute;
  left: 5%;
  bottom: 5%;
  color: white;
  margin: 0 auto;
}

.bg-credits a {
  color: white;
}

.fieldset {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  column-gap: 50px;
  row-gap: 20px;
  margin: 0;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
}

.form_item {
  width: fit-content;
}

.label {
  width: fit-content;
  /* font-size: 0.8rem; */
}

@media (max-width: 900px) {
  .fieldset {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  /* .container {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
  } */
  /* .left {
    display: none;
  } */
}

input {
  background-color: #333;
  color: white;
  appearance: none;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  width: 200px;
  position: relative;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid rgb(0, 177, 0);
}
input:focus {
  outline: 3px solid dodgerblue;
  /* outline: none; */
}

input + div {
  height: 10px;
  font-size: 0.8rem;
}
input:invalid + div::after {
  content: "invalid";
}

input[type="tel"]:invalid + div::after {
  content: "enter only numbers";
}
input[type="password"]:invalid + div::after {
  content: "must be at least 5";
}

button[type="submit"] {
  border: none;
  /* border: 2px solid #31c5ff; */
  background-color: #00327c;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 24px;
  cursor: pointer;
}

label {
  line-height: 1;
}
.footer {
  padding-left: 24px;
}
